<div class="container">
  <div class="row">
      <div class="col-md-12">
        <h1>Welcome to the greatest AngularJS Introduction Ever!</h1>
        <p>
          This codebase has been open-sourced for your pleasure. Go ahead, clone it. Play with it. Learn from it. I've tried to get as many "best-practices" as I can in this without becoming too complex. We've got <a href="/source/test/">tests</a> too!
        </p>
        <h3>So what is this project?</h3>
        <p>
          Well... it's inception, really. A project within a project. Or maybe it's recursive? A project that calls itself? Or maybe it's just meta. A project ABOUT itself. Either way, it uses the <a href="https://developer.github.com/v3/">Github API</a> to show you it's own source code and commits.
        </p>
      </div>
  </div>
</div>